<launch>

  <!-- Launch gazebo and associated nodes -->
  <include file="$(find gazebo)/launch/office_world.launch" />
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />
  <include file="$(find pr2_gazebo)/pr2.launch"/>

  <node pkg="pr2_tuckarm" type="tuckarm.py" args="b" name="tuck_arms" />

  <!-- people aware nav controller -->
  <node pkg="people_aware_nav" type="head_controller" name="pan_head_controller" />

</launch>
