<launch>
  <master auto="start" />
  <include file="$(find people_aware_nav)/launch/gazebo_hallway.launch" />
  <include file="$(find people_aware_nav)/launch/nav_gazebo.xml" />
  <node pkg="people_aware_nav" type="test_move_right" name="test_move_right" /> 
  <test test-name="hallway_test" time-limit="120" pkg="people_aware_nav" type="hallway_test" /> 
</launch>
