<launch>
<param name="people/color_tracker/on_robot" type="bool" value="false"/>
<param name="people/color_tracker/fixed_frame" type="string" value="map"/>
<param name="people/color_tracker/display" type="bool" value="true"/>
<param name="people/color_tracker/adapt_hist" type="bool" value="false"/>
<param name="people/color_tracker/calib_color" type="bool" value="false"/>
<param name="people/color_tracker/object_radius_m" type="double" value="0.1" />
<param name="people/color_tracker/kernel_to_object_size_ratio" type="double" value="1.5"/>
<node pkg="people" type="stereo_color_tracker" output="screen"/>
</launch>
