<launch>

  <arg name="camera" default="camera" />
  <arg name="image_topic" default="image_rect" />
  <arg name="fixed_frame" default="camera_rgb_optical_frame" />

  <!--include file="$(find openni_launch)/launch/openni.launch"/-->
  <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera_driver">
    <param name="depth_registration" type="bool" value="true" />
  </node>

  <include file="$(find face_detector)/launch/face_detector_common.launch">
    <remap from="camera" to="$(arg camera)" />
    <remap from="image_topic" to="$(arg image_topic)" />
    <param name="fixed_frame" value="$(arg fixed_frame)" />
  </include>
</launch>
