<launch>

  <include file="$(find face_detector)/launch/classifier.launch"/>
  <arg name="camera" default="narrow_stereo" />
  <arg name="image_topic" default="image_rect" />
  <arg name="fixed_frame" default="narrow_stereo_optical_frame" />

  <include file="$(find face_detector)/launch/face_detector_common.launch">
    <remap from="camera" to="$(arg camera)" />
    <remap from="image_topic" to="$(arg image_topic)" />
    <param name="fixed_frame" value="$(arg fixed_frame)" />
  </include>

</launch>
