<launch>

  <arg name="camera" default="camera" />
  <arg name="image_topic" default="image_rect" />
  <arg name="fixed_frame" default="camera_rgb_optical_frame" />

  <node name="$(anon dynparam)" pkg="dynamic_reconfigure" type="dynparam" args="set_from_parameters camera_driver">
    <param name="depth_registration" type="bool" value="true" />
  </node>

  <include file="$(find face_detector)/launch/face_detector_common.launch">
    <arg name="camera" value="$(arg camera)" />
    <arg name="image_topic" value="$(arg image_topic)" />
    <arg name="fixed_frame" value="$(arg fixed_frame)" />

    <arg name="nodename" value="facedetector_action_rgbd" />
  </include>
</launch>
