<launch>
  <node pkg="face_detector" type="face_detector" name="face_detector_action" args="stereo:=wide_stereo image:=image_rect" output="screen">
  	 <param name="classifier_name" type="string" value="frontalface" />
	 <param name="classifier_filename" type="string" value="/usr/share/OpenCV-2.3.1/haarcascades/haarcascade_frontalface_alt.xml" />
	 <param name="classifier_reliability" type="double" value="0.9"/>
  	 <param name="do_continuous" type="bool" value="false" />
  	 <param name="do_publish_faces_of_unknown_size" type="bool" value="false" />	
	 <param name="do_display" type="string" value="none" />
  	 <param name="output" type="string" value="none" />
  </node>

</launch>
