<launch>
  <include file="$(find pr2_machine)/$(env ROBOT).machine" />
  <include file="$(find 2dnav_pr2)/config/base_odom_teleop_pre.xml" />
  <include file="$(find 2dnav_pr2)/config/lasers_and_filters.xml" />
  <include file="$(find 2dnav_pr2)/config/ground_plane.xml" />

  <include file="$(find 2dnav_pr2)/config/map_server.xml" />
  <include file="$(find 2dnav_pr2)/config/new_amcl_node.xml" />

  <!-- The naviagtion stack and associated parameters -->
  <!--include file="$(find 2dnav_pr2)/move_base_carrot/move_base_local.xml" /-->
  <!--include file="$(find teleop_anti_collision)/launch/anti_collision_position/safe_teleop.xml" /-->

  <node pkg="teleop_anti_collision" type="safe_teleop" respawn="true" name="move_base_local" output="screen" machine="four">
   <remap from="odom" to="pr2_base_odometry/odom" />

   <param name="controller_frequency" value="10.0" />
   <param name="footprint_padding" value="0.015" />
   <param name="controller_patience" value="15.0" />
   <param name="clearing_radius" value="0.59" />
 
   <rosparam file="$(find 2dnav_pr2)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
   <rosparam file="$(find 2dnav_pr2)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
   <rosparam file="$(find 2dnav_pr2)/move_base_local/costmap_params.yaml" command="load" ns="local_costmap"/>
   <rosparam file="$(find 2dnav_pr2)/move_base_local/costmap_params.yaml" command="load" ns="global_costmap"/>
   <rosparam file="$(find 2dnav_pr2)/move_base_local/base_local_planner_params.yaml" command="load" />
  </node>
</launch>
